{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Historial Veterinario</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'bo:index' %}">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Busca..." aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Bienvenido {{ user }}</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'bo:logout' %}">Cerrar sesión</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'bo:index' %}">
                            <span data-feather="home"></span>
                            Inicio <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bo:animal_list' %}">
                            <span data-feather="github"></span>
                            Animales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bo:raza_list' %}">
                            <span data-feather="gitlab"></span>
                            Razas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bo:diagnostico_list' %}">
                            <span data-feather="clipboard"></span>
                            Diagnósticos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bo:paciente_list' %}">
                            <span data-feather="clock"></span>
                            Pacientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bo:historial_list' %}">
                            <span data-feather="layers"></span>
                            Historiales
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block main %}
            {% endblock main %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>
